.avatar_mask{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
}

.avatar_mask img{
    object-fit: cover;
    width: 40px;
}

.footer{
    margin-top: 50px;
    padding: 20px;
    background-color: #A8AABC;
    color: white;
}

.footer-parrafo {
    margin-bottom: 4px;
}

.footer hr {
    color: white;
}