<div class="container">
    <!-- CONTENEDOR PRINCIAL -->
    <br />
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <!-- BARRA DE NAVEGACIÓN -->
      <a class="navbar-brand" href="#">
        <img
          src="assets\images\Angular_full_color_logo.svg.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        Proyecto DAW</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/inicio']" 
              >Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorías
            </a>
            <!-- Submenú Categorías -->
            <ul class="dropdown-menu" >
              <li class="nav-item dropdown" *ngFor="let c of categorias">
                <a class="dropdown-item" [routerLink]="['/categoria/', c.id]">{{c.nombre}}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
        <!-- Menú de la derecha -->
        <ul class="navbar-nav navbar-right" *ngIf="!identidad"> <!-- Se muestra si no hay usuario logueado -->
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/login']" 
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro']" >Registro</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right" *ngIf="identidad && identidad.nombre"> <!-- Se muestra si un usuario está logueado -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            Administración
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/entradas']">Entradas</a>
              <a class="dropdown-item" [routerLink]="['/categorias']">Categorías</a>
              <a class="dropdown-item" [routerLink]="['/medios']">Medios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Administración de Usuarios</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            {{ identidad.nombre + " " + identidad.apellidos }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/nueva-entrada']">Nueva entrada</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/mi-perfil']">Mi perfil</a>
              <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar sesión</a>
            </div>
          </li>
          <li *ngIf="identidad && identidad.imagen" class="nav-item">
            <div class="avatar_mask">
              <img src="{{url + 'usuario/imagen/' + identidad.imagen}}" alt="" class="avatar_navbar">
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- FIN BARRA NAVEGACIÓN -->
    <!-- CONTENIDO -->
    <router-outlet></router-outlet>
  </div>
  <!-- FIN CONTENEDOR PRINCIPAL -->