<!-- Contenedor -->
<div class="col-md-12 mt-5 d-flex justify-content-center">
    <div  class="col-md-12">
        <!-- Título de la página -->
        <h1>{{ page_title }}</h1>
    
        <p>Lista de entradas del blog</p>

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Entradas</a>
            <ng-template ngbNavContent>
              <!-- Tabla con la lista de entradas -->
              <table class="table table-striped tabla-entradas">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Etiquetas</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let entrada of entradas">
                  <tr *ngIf="entrada.estado != 'Papelera' && (identidad.perfil == 'Administrador' || entrada.usuario_id == identidad.id) ">
                    <th scope="row">{{entrada.id}}</th>
                    <td>{{entrada.titulo}}</td>
                    <td>{{entrada.nombre}} {{entrada.apellidos}}</td>
                    <td>{{entrada.categoria}}</td>
                    <td>
                        <span *ngFor="let etiqueta of entrada.etiquetas">{{etiqueta}}, </span>
                    </td>
                    <td>{{entrada.estado}}</td>
                    <td>
                        <span [routerLink]="['/editar-entrada/', entrada.id]" title="Editar entrada">
                          <fa-icon class="btn-acciones text-success" [icon]="faEdit"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Publicada'" title="Dejar de publicar" (click)="cambiaEstado(entrada,'Borrador')">
                          <fa-icon class="btn-acciones text-secondary" [icon]="faTimesCircle"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Borrador'" title="Publicar entrada" (click)="cambiaEstado(entrada,'Publicada')">
                          <fa-icon class="btn-acciones text-primary" [icon]="faPlayCircle"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Borrador'" title="Enviar a la papelera" (click)="cambiaEstado(entrada,'Papelera')">
                          <fa-icon class="btn-acciones text-danger" [icon]="faTrashAlt"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Papelera'" title="Sacar de la papelera" (click)="cambiaEstado(entrada,'Borrador')">
                          <fa-icon class="btn-acciones text-warning" [icon]="faTrashRestoreAlt"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Papelera'" title="Borrar definitivamente">
                          <fa-icon class="btn-acciones text-danger" [icon]="faExclamationTriangle"></fa-icon>
                        </span>
                    </td>
                  </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Papelera</a>
            <ng-template ngbNavContent>
              <!-- Tabla con la lista de entradas -->
              <table class="table table-striped tabla-entradas">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Etiquetas</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let entrada of entradas">
                    <tr *ngIf="entrada.estado == 'Papelera' && (identidad.perfil == 'Administrador' || entrada.usuario_id == identidad.id)">
                    <th scope="row">{{entrada.id}}</th>
                    <td>{{entrada.titulo}}</td>
                    <td>{{entrada.nombre}} {{entrada.apellidos}}</td>
                    <td>{{entrada.categoria}}</td>
                    <td>
                        <span *ngFor="let etiqueta of entrada.etiquetas">{{etiqueta}}, </span>
                    </td>
                    <td>{{entrada.estado}}</td>
                    <td>
                        <span [routerLink]="['/editar-entrada/', entrada.id]" title="Editar entrada">
                          <fa-icon class="btn-acciones text-success" [icon]="faEdit"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Publicada'" title="Dejar de publicar" (click)="cambiaEstado(entrada,'Borrador')">
                          <fa-icon class="btn-acciones text-secondary" [icon]="faTimesCircle"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Borrador'" title="Publicar entrada" (click)="cambiaEstado(entrada,'Publicada')">
                          <fa-icon class="btn-acciones text-primary" [icon]="faPlayCircle"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Borrador'" title="Enviar a la papelera" (click)="cambiaEstado(entrada,'Papelera')">
                          <fa-icon class="btn-acciones text-danger" [icon]="faTrashAlt"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Papelera'" title="Sacar de la papelera" (click)="cambiaEstado(entrada,'Borrador')">
                          <fa-icon class="btn-acciones text-warning" [icon]="faTrashRestoreAlt"></fa-icon>
                        </span>
                        <span *ngIf="entrada.estado == 'Papelera'" title="Borrar definitivamente" (click)="eliminarDefinitivamente(entrada.id)">
                          <fa-icon class="btn-acciones text-danger" [icon]="faExclamationTriangle"></fa-icon>
                        </span>
                    </td>
                  </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>


    </div> 
</div>
<!-- FIN Contenedor -->


